.cabecalho {
  background-color: rgb(181, 71, 71);
  padding: 5px;
  margin: 10px;
  color: white;
  margin: 0;
}

body {
  margin: 0;
}

.cabecalho-funcionarios {
  background-color: rgb(181, 71, 71);
  padding: 5px;
  margin: 10px;
  color: white;
  margin: 0;
}

.cabecalho-estoque {
  background-color: rgb(181, 71, 71);
  padding: 5px;
  margin: 10px;
  color: white;
  margin: 0;
}

.cabecalho-add-produtos {
  background-color: rgb(181, 71, 71);
  padding: 5px;
  margin: 10px;
  color: white;
  margin: 0;
}

.cabecalho-carrinho {
  background-color: rgb(181, 71, 71);
  padding: 5px;
  margin: 10px;
  color: white;
  margin: 0;
}

footer {
  position: fixed;
  flex-shrink: 0;
  background-color: rgb(73, 73, 243);
  color: white 12px;
  padding: 10px;
  bottom: 0;
  left: 0%;
  width: 100%;
}

.rodape-fonte {
  color: white;
}

button:hover {
  background-color: tomato;
  color: white;
}

button {
  margin: 5px;
}
label {
  display: inline-block;
  width: 150px;
  padding: 5px;
}

td {
  background-color: rgb(242, 234, 234);
  text-align: center;
}

.sobre-nos {
  margin: 20px;
}

.botoes {
  margin: 15px;
}

.redes {
  margin: 20px;
}
